@media (min-width: 769px) {

/* ==========================================================================
   3. MACOS DYNAMIC AUTO-HIDE SCROLLBAR
   ========================================================================== */

#main-viewport::-webkit-scrollbar {
    width: 10px;
  }

  #main-viewport::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: content-box;
    transition: background-color 0.3s ease;
  }

  #main-viewport:hover::-webkit-scrollbar-thumb {
    background-color: var(--mac-selection-bg);
  }

  #main-viewport::-webkit-scrollbar-thumb:hover {
    background-color: var(--mac-selection-hover) !important;
  }

}