@media (min-width: 769px) {

  /* ==========================================================================
   3. MACOS DYNAMIC AUTO-HIDE SCROLLBAR
   ========================================================================== */

  #main-viewport {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  #main-viewport::-webkit-scrollbar {
    display: none;
  }

}