# Android Build Artifacts
*.iml
.gradle/
/local.properties
/.idea/
**/build/

# Keystores (sensitive)
*.jks
*.p8
*.p12
*.key
*.pem
*.mobileprovision
keystore.properties

# Kotlin
.kotlin/
*.orig.*

# macOS
.DS_Store

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# Local env
.env*.local

# TypeScript (legacy)
*.tsbuildinfo
